TITAN_ADMIN_TOKEN={{ titan_admin_token }}
TITAN_JWT_SECRET={{ titan_jwt_secret }}
TITAN_JWT_ISSUER={{ titan_jwt_issuer }}
TITAN_JWT_AUDIENCE={{ titan_jwt_audience }}
TITAN_DATABASE={{ titan_data_root }}/titan-control.db
TITAN_CONTROL_HOST=127.0.0.1
TITAN_CONTROL_PORT=8090
TITAN_RECONCILE_INTERVAL_SECONDS=2
TITAN_RECONCILE_BATCH_SIZE=20
TITAN_AI_HOST=127.0.0.1
TITAN_AI_PORT=8100
TITAN_KNOWLEDGE_DATABASE={{ titan_data_root }}/titan-knowledge.db
TITAN_AI_ALLOWED_MODELS_JSON={"local":["titan-offline"]}
TITAN_AI_TOKEN_BUDGETS_JSON={"local":100000}
TITAN_AI_REQUEST_LIMITS_JSON={"local":60}
TITAN_SHOP_HOST=127.0.0.1
TITAN_SHOP_PORT=8200
TITAN_SHOP_DATABASE={{ titan_data_root }}/titan-shop.db
